@import '@/styles/variable';
@import '@/styles/mixins';

.hero-form-buttons {
  width: 100%;
  height: 78px;
  margin: 8px 0;
  border: 1px solid rgba(255, 255, 255, 0.19);
  border-radius: 12px;
  backdrop-filter: blur(22px);
  background: rgba(255, 255, 255, 0.08);
  display: flex;
  .form-button {
    background-color: transparent;
    width: calc(50% - 1px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-weight: 500;
    opacity: 0.8;
    .radio {
      display: block;
      width: 24px;
      height: 24px;
      border: 3px solid $color-white;
      border-radius: 50%;
    }

    .title {
      @media screen and (max-width: 410px) {
        max-width: 100px;
      }
    }

    &.active {
      opacity: 1;
      .radio {
        border: 7px solid $color-white;
      }
    }
  }
  > span {
    display: block;
    height: 52px;
    margin: 13px 0;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
  }
}
