.map-areas {
  display: flex;
  flex-direction: column;
  padding: 17px 0 47px 0;

  @media (max-width: 390px) {
    .areas {
      .map-areas,
      .map-areas.content {
        display: none;
      }
    }
  }

  .content {
    position: relative;
    border-radius: 8px;
    border: 1px solid #f1f1f1;
    background: #f6f6f6;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.05);

    .flex {
      display: flex;
      width: 100%;
      height: 100%;

      #bg:hover {
        fill: #fff;
      }
      path {
        transition: 0.3s;
      }
      path:hover {
        transition: 0.3s;
        fill: #dba77b;
      }
    }

    .info {
      display: flex;
      padding: 10px 15px;
      flex-direction: column;
      gap: 8px;
      border-radius: 8px;
      position: absolute;
      bottom: 20px;
      right: 20px;
      transition: 0.25s;
      opacity: 0;

      font-family: 'Roboto', sans-serif;

      &.active {
        opacity: 1;
        transition: 0.25s;
      }

      .info-block {
        display: flex;
        width: fit-content;
        align-self: flex-end;
        gap: 70px;
        background: #fff;
        padding: 10px 15px;

        .block {
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          gap: 8px;
          
          span {
            font-family: 'Roboto', sans-serif;
          }

          &:last-child {
            div:last-child {
              color: #82bb5f;
              font-family: 'Roboto', sans-serif;
              font-size: 14px;
              font-weight: 400;
            }
          }

          div {
            color: #717171;
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            font-style: normal;
            line-height: normal;
            display: flex;
            white-space: nowrap;
            flex: 1;
            justify-content: flex-start;
          }
        }
      }

      .ameneties {
        display: inline-flex;
        padding: 15px 20px;
        align-items: flex-start;
        gap: 35px;
        border-radius: 8px;
        background: #fff;
        svg {
          flex-shrink: 0;
        }
        .amenit {
          display: flex;
          align-items: center;
          gap: 5px;

          .svg {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 15px;
            width: 15px;
            border-radius: 4px;
            background: #dba77b;

            svg {
              flex-shrink: 0;
              width: 100%;
            }
          }

          span {
            color: #717171;
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            font-weight: 400;
          }
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .areas {
    .map-areas {
      .content {
        .info {
          .info-block {
            .block {
              div {
                font-size: 12px;
                font-family: 'Roboto', sans-serif;
              }
            }
          }

          .ameneties {
            .amenit {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
