@import './../../../styles/mixins';
.other-projects-new {
  .title {
    color: black;
    margin-top: 20px;
    font-size: 36px;
    font-weight: 500;

    @include laptop() {
      font-size: 28px;
    }
  }
  .projects__offers-list {
    margin-top: 32px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    gap: 16px;

    // @include laptop {
    //   grid-template-columns: repeat(4, 1fr);
    // }
    // @include medium {
    //   grid-template-columns: repeat(3, 1fr);
    // }
    // @include tablet {
    //   grid-template-columns: repeat(3, 1fr);
    // }
    // @media screen and (max-width: 850px) {
    //   grid-template-columns: repeat(2, 1fr);
    // }
    // @include mobile {
    //   grid-template-columns: 1fr;
    //   grid-template-rows: auto;
    // }

    // display: flex;
    // justify-content: space-between;
    // flex-wrap: wrap;
    // gap: 16px;
  }

  .map__btn {
    margin: 30px auto;
    display: flex;
    gap: 16px;
    justify-content: center;
    height: 45px;
    width: 107px;
    align-items: center;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background: #dba77b;
    box-shadow: 0 0 40px #0000001a;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: 0.4s ease-in-out;
    position: relative;
    overflow: hidden;

    &:hover {
      transform: scale(1.1);
    }

    &:hover .circle-mask {
      display: block;
    }
    @include mobile {
      width: 100%;
      &:hover {
        transform: scale(1.01);
      }
    }
    .circle-mask {
      display: none;
      position: absolute;
      left: 15px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }

    .circle-mask::before,
    .circle-mask::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      box-shadow: 0 0 0 0 rgb(255, 255, 255);
      transform: translate(-50%, -50%);
      animation: pulse 1s infinite;
    }

    .circle-mask::before {
      animation-delay: 0.1s;
    }

    .circle-mask::after {
      animation-delay: 1s;
    }

    @keyframes pulse {
      0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2);
      }

      100% {
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
      }
    }
  }
}
