@import '@/styles/variable';
@import '@/styles/mixins';

.filter-mob {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 11011;
  display: flex;
  justify-content: center;
  align-items: center;
  .modal-content__filter {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 20px 50px;
    background-color: $color-background-menu;
    width: 100%;
    min-width: 360px;
    height: 100%;
    animation: modalAnimation 0.2s ease-in-out forwards;
    @include custom-scrollbar($color-brown);
    .filters-block-mob-header {
      display: flex;
      justify-content: space-between;
      .filters-block-mob-header-close {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: $color-white;
        box-shadow: 0 4px 42.5px #00000014;
      }
      .filters-block-mob-clear-filter {
        display: inline-flex;
        height: 40px;
        padding: 0 12px 0 16px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        color: #ff5959;
        text-align: center;
        font-family: Onest;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 22px;
        border-radius: 11px;
        border: 1px solid #ff5959;
        background: #ff595933;
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
      }
    }
    .filters-block-mob-title {
      font-size: 36px;
      font-weight: 500;
      margin: 24px 0;
    }
    .filter-block-mob-form {
      display: flex;
      flex-direction: column;
      gap: 16px;
      //радіо кнопки
      .filter-block-mob-form-radio {
        & .hero-form-buttons {
          margin: 0;
          gap: 16px;
          .middle {
            display: none;
          }
          & .form-button {
            background-color: $color-white;
            border: 1px solid #ccc;
            border-radius: 8px;
            color: #676767;
            font-size: 12px;
            font-weight: 400;
            &.active {
              border: 1px solid $color-brown;
              color: $color-brown;
              & .radio {
                border: 6px solid $color-brown;
              }
            }
            & .radio {
              width: 20px;
              height: 20px;
              border: 3px solid #ccc;
              &.active {
                border: 4px solid $color-brown;
              }
            }
          }
        }
      }
      .search-mob {
        height: 42px;
        .map-search-block-form {
          border-radius: 8px;
          border: 1px solid #ccc;
          // width: calc(100% - 50px);
          width: 100%;
          transition: none;
          &.active {
            border-radius: 8px 8px 0 0;
          }
          .search-icon {
            width: 42px;
            height: 40px;
            position: absolute;
            right: -50px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $color-brown;
            border-radius: 8px;
            color: $color-white;
            svg {
              width: 15px;
              height: 15px;
            }
            display: none;
          }
        }
        .map-search-block-searchList {
          border-radius: 0 0 8px 8px;
          border-left: 1px solid #ccc;
          border-right: 1px solid #ccc;
          border-bottom: 1px solid #ccc;
          width: calc(100% - 50px);
          box-shadow: none;
          padding: 0 0 4px;
          ul {
            height: auto;
            max-height: 200px;
          }
          & li {
            min-height: 42px;
            border-right: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            &:nth-last-child(1) {
              border-bottom: none;
            }
          }
        }
      }
      .dropdown {
        position: relative;
        height: auto;
        border-radius: 8px;
      }

      //кнопка submit
      .filters-block-mob-submit {
        display: flex;
        height: 48px;
        justify-content: center;
        align-items: center;
        position: relative;
        color: $color-white;
        font-size: 14px;
        font-weight: 600;
        border-radius: 8px;
        border: 1px solid rgba(255, 255, 255, 0.19);
        background: #dba77b;
        -webkit-backdrop-filter: blur(11.3999996185px);
        backdrop-filter: blur(11.3999996185px);
        & svg {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 14px;
        }
      }
    }
  }
}
