// .image-gallery-image {
//   //   max-height: 500px;
//   //   margin: auto;
//   transform: scale(0.5);

//   @media screen and (max-width: 763px) {
//     transform: scale(1);
//   }
// }

// .image-gallery{
//   z-index: 10000 !important;
//   height: 100vh !important;
// }

.image-gallery-image {
  //   max-height: 500px;
  //   margin: auto;
  transform: scale(0.5);

  @media screen and (max-width: 763px) {
    transform: scale(1);
  }
}

.image-gallery {
  z-index: 10000 !important;
  height: 100vh !important;
}

@media screen and (min-width: 763px) {
  .image-gallery-thumbnails-wrapper {
    position: absolute !important;
    bottom: 20px !important;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .image-gallery-swipe {
    position: relative !important;
    height: 100vh !important;
  }
}
