@import '@/styles/variable';
@import '@/styles/mixins';
.hero {
  position: relative;
  min-width: 360px;
  width: 100%;
  height: 100vh;
  min-height: 640px;
  max-height: 1920px;
  color: $color-white;
  .hero-content {
    z-index: 20;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 600px;
    @include laptop {
      width: 576px;
      //top: 40%;
      top: 35%;
    }
    @include tablet {
      width: 520px;
      top: 35%;
    }
    @include mobile {
      width: 100%;
      min-height: 400px;
      top: 120px;
      padding: 0 16px;
    }
    .hero-content__title {
      margin: 0 auto;
      font-weight: 600;
      font-size: 42px;
      text-align: center;
      @include tablet {
        max-width: 512px;
      }
      @include mobile {
        max-width: 100%;
        font-size: 38px;
      }
    }
    .hero-content__description {
      font-size: 18px;
      font-weight: 300;
      text-align: center;
      text-transform: capitalize;
      letter-spacing: 0.1em;
      @include tablet {
        letter-spacing: 1.8px;
      }
    
      @include mobile {
        font-size: 16px;
      }
    }
  }
}
