@import '@/styles/variable';
@import '@/styles/mixins';

.project-image-card {
  position: relative;
  border-radius: 8px;
  width: calc(68% - 16px);

  @include laptop() {
    width: 100%;
  }
  .favoriteButton {
    padding: 6px;
    z-index: 20;
    position: absolute;
    top: 6px;
    right: 6px;
    background-color: transparent;
    color: #f1f1f1;
    &.selected {
      color: $color-brown;
    }
  }
  .marked-icon {
    position: absolute;
    top: 17px;
    right: 17px;
  }

  .all-photos {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 111px;
    height: 32px;
    z-index: 1000;
    border-radius: 8px;
    background: #02020216;
    box-shadow: 0 4px 25px #d7ad8a4d;
    backdrop-filter: blur(6px);
    opacity: 0.9;
    color: white;
    font-size: 12px;
    font-family: 'Inter', sans-serif;

    @include mobile() {
      display: none;
    }
  }

  .slick-list {
    gap: 10px;
  }

  .slick-slide {
    position: relative;
    border-radius: 8px;

    .image-main {
      border-radius: 8px;
      border: none;
      outline: none;
      height: 585px;

      @include laptop() {
        height: 390px;
      }

      @include mobile() {
        height: 303px;
      }

      &.secondary {
        height: 417px;

        @include laptop() {
          height: 390px;
        }

        @include mobile() {
          height: 303px;
        }
      }

      &:hover,
      &:active,
      &:focus {
        border: none;
        outline: none;
      }
    }
  }
}

.swiper__mainWrapper {
  height: 585px;

  @include laptop() {
    height: 390px;
  }

  @include mobile() {
    height: 303px;
  }

  &.secondary {
    height: 417px;

    @include laptop() {
      height: 390px;
    }

    @include mobile() {
      height: 303px;
    }
  }

  &-buttonsWrapper {
    cursor: pointer;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 100;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 15px;
  }

  &-btn {
    background: #dba77b;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}
