@import './../../../styles/mixins';

.area__slider {
    position: relative;
    flex: 3;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;

    box-shadow: 0 0 51px 0 rgba(255, 255, 255, 0.08);



    .slider {
        width: 100%;
        // height: 575px;
        height: 100%;

        @include lg {
            height: 272px;
        }

        .slide {
            border-radius: 10px;
            overflow: hidden;
        }

        .swiper-pagination {
            display: flex;
            align-items: center;
            border-radius: 10px;
            left: 50%;
            transform: translateX(-50%);
            width: auto;
            height: 20px;

            backdrop-filter: blur(3px);
            background: rgba(0, 0, 0, 0.35);

            &-bullet {
                background-color: #CDCDCD;

                &-active {
                    background-color: #DCDCDC;
                }
            }
        }
    }
}

.loader-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


    .loader {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        position: relative;

        animation: rotate 1s linear infinite;

        &::before {
            content: "";
            box-sizing: border-box;
            position: absolute;
            inset: 0px;
            border-radius: 50%;
            border: 5px solid #f88e37;
            animation: prixClipFix 2s linear infinite;
        }
    }

    @keyframes rotate {
        100% {
            transform: rotate(360deg)
        }
    }

    @keyframes prixClipFix {
        0% {
            clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
        }

        25% {
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
        }

        50% {
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
        }

        75% {
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
        }

        100% {
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
        }
    }
}