$color-white: #ffffff;
$color-black: #000;
$color-brown: #dba77b;
$color-gray: #c8c8c8;
$color-gray2: #717171;
$color-hover: #f8f8f8;
$color-black2: #313131;
$color-description: #353535;
$color-link: #222;
$color-border: #dadada;
$color-background: #ececec;
$color-consulting-background: #fbfbfb;
$color-background-list-link: #f1f1f1;
$color-background-menu: #f5f5f5;
$transition: all linear 0.3s;

.mapboxgl-map {
  width: 100%;
}

.mapboxgl-canvas {
  width: 100%;
}
