@import '@/styles/variable';
@import '@/styles/mixins';

.price-checker {
  z-index: 53;
  position: relative;
  width: 100%;
  transition: $transition;
  height: 100%;
  padding: 16px 24px 10px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  border-radius: 8px;
  border: 1px solid rgba(204, 204, 204, 0.6);
  background: #ffffff1a;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;

  &.active {
    border-radius: 8px 8px 0 0;
  }
  @media (max-width: 1300px) {
    padding: 8px;
  }

  .trigger {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;

    > div {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    span {
      &.activeVisible {
        display: flex;
      }

      display: none;
      color: #717171;
      font-family: 'Roboto', sans-serif;
      font-size: 12px;
      font-weight: 400;
    }
  }
  .trigger-active {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    .price-block {
      display: flex;
      gap: 8px;
      input {
        width: 94px;
        outline: none;
        border: none;
        color: #222;
        font-size: 14px;
        font-weight: 400;
        @include laptop {
          width: 80px;
        }
        @media (max-width: 850px) {
          width: 80px;
        }
      }
    }
  }

  .price-checker-list-container {
    position: absolute;
    top: calc(100% - 2px);
    left: -1px;
    width: calc(100% + 2px);
    max-height: 180px;
    overflow-y: scroll;
    border-radius: 0 0 6px 6px;
    background-color: #fff;
    border: 1px solid #dfdfdf;
    @include filter-scrollbar;
    overscroll-behavior: contain;

    .price-checker-list-item {
      display: flex;
      padding: 11px 12px;
      justify-content: space-between;
      align-items: center;
      transition: 0.3s;
      border-right: 1px solid #dfdfdf;
      border-bottom: 1px solid #dfdfdf;
      background: #fff;
      transition: $transition;
      color: #222;
      &:hover {
        background-color: #ffffff1a;
      }
      &.lower {
        color: #dcdcdc;
      }
      &.active {
        color: $color-brown;
      }
      .check-item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 12px;
        height: 12px;
        border: 1px solid #dfdfdf;
        border-radius: 3px;
        transition: $transition;
      }
    }
  }
}
