@import '@/styles/variable';
@import '@/styles/mixins';

.footer {
  display: none;
}

.errorPage {
  width: 100%;
  height: 600px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;

  @media (max-width: $screen-lg) {
    gap: 25px;
  }

  @media (max-width: $screen-sm) {
    height: 500px;
  }

  &__ops {
    font-size: 40px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #222222;

    @media (max-width: $screen-lg) {
      font-size: 24px;
    }
  }

  &__title {
    font-size: 44px;
    font-weight: 500;
    font-family: 'latin', sans-serif;
    color: #222222;

    @media (max-width: $screen-lg) {
      font-size: 28px;
    }

    @media (max-width: $screen-sm) {
      font-size: 22px;
    }
  }

  &__descr {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: #222222;
    text-align: center;

    @media (max-width: $screen-lg) {
      font-size: 20px;
    }

    @media (max-width: $screen-sm) {
      font-size: 14px;
      max-width: 225px;
    }
  }

  &__btn {
    border-radius: 8px;
    border: 1px solid $color-brown;
    background: $color-brown;
    box-shadow: 0px 4px 25px 0px rgba(215, 173, 138, 0.3);
    padding: 6px 32px;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: $color-white;
    cursor: pointer;
    transition: $transition;

    &:hover {
      color: $color-brown;
      background-color: $color-white;
    }
  }
}
