.button {
  display: flex;
  align-items: center;

  height: 56px;

  &--purple,
  &--grey,
  &--gradientBorder {
    border: {
      width: 2px;
      radius: 36px;
    }
  }
  &--blurGrey,
  &--gradientBorder {
    padding: 16px;
  }
  &--purple {
    background: #dba77b;
    color: white;

    padding: {
      left: 24px;
      right: 16px;
    }

    -webkit-box-shadow: 0px 0px 109.5px 0px rgba(162, 85, 251, 0.25);
    -moz-box-shadow: 0px 0px 109.5px 0px rgba(162, 85, 251, 0.25);
    box-shadow: 0px 0px 109.5px 0px rgba(162, 85, 251, 0.25);
  }

  &--blurGrey {
    background: linear-gradient(180deg, rgba(26, 34, 54, 0), rgb(26, 34, 54) 100%);

    position: relative;
    z-index: 2;

    border-radius: 16px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);

    backdrop-filter: blur(90.5px);
  }
  &--grey {
    background: linear-gradient(180deg, rgba(26, 34, 54, 0), rgb(26, 34, 54) 100%);

    padding: 28px;

    border-top: 2px solid rgb(33, 41, 58);
  }
  &--gradientBorder {
    border: 1px solid #dba77b;
  }
}
