@import '@/styles/variable';
@import '@/styles/mixins';
.filter-block-map {
  background-color: $color-white;
  display: flex;
  align-items: center;
  gap: 12px;
  height: 48px;
  margin: 12px auto;
  max-width: 100%;
  @include tablet {
    justify-content: space-between;
  }
  @media (max-width: 900px) {
    gap: 8px;
  }
  @include mobile {
    display: none;
  }
  .search {
    width: 100%;
    min-width: 35px;
    height: 100%;
    position: relative;
    flex: 1;
    & .map-search-block-form {
      border-radius: 8px;
      @include tablet {
        padding: 0 8px;
        gap: 8px;
      }
      @media (max-width: 900px) {
        padding: 0 6px;
        gap: 6px;
      }
    }
  }

  & .dropdown {
    width: fit-content;
    min-height: 38px;
    height: 100%;
    min-width: 140px;
    @include medium {
      min-width: 130px;
    }
    @include tablet {
      min-width: 0px;
    }
    .trigger {
      padding: 0 8px 0 16px;
      @include tablet {
        padding: 0 6px 0 8px;
        gap: 8px;
      }
      @media (max-width: 900px) {
        gap: 6px;
        text-wrap: wrap;
      }
    }
  }
  & .price-checker {
    padding: 5px 8px 0 16px;
    @include tablet {
      padding: 0 6px;
      .trigger-active {
        gap: 6px;
        .price-block {
          gap: 6px;
          input {
            width: 75px;
          }
        }
      }
    }
    @media (max-width: 1150px) {
      .trigger-active {
        .price-block {
          input {
            width: 70px;
            background-color: transparent;
          }
          span {
            display: none;
          }
        }
      }
    }
    @media (max-width: 900px) {
      gap: 6px;
      padding: 0 6px;
      .trigger-active {
        gap: 6px;
        .price-block {
          gap: 6px;
          input {
            width: 70px;
            background-color: transparent;
          }
          span {
            display: none;
          }
        }
      }
    }
    .trigger {
      padding: 0;
    }
  }

  .clear {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border: 1px solid #ff5959;
    border-radius: 8px;
    min-height: 38px;
    height: 100%;
    color: #ff5959;
    background: rgba(255, 89, 89, 0.2);
    font-size: 14px;
    padding: 7px 16px 7px 8px;
    @include medium {
      font-size: 12px;
    }
    @include tablet {
      gap: 8px;
      padding: 7px 8px;
    }
    @media (max-width: 900px) {
      gap: 6px;
      padding: 6px;
    }
  }
}
