@import '@/styles/variable';
@import '@/styles/mixins';

.backdrop {
  position: fixed;
  width: 105%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 11111;
  @include tablet() {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1002px;
  height: 600px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  box-sizing: content-box;
  background-color: white;
  border-radius: 8px;
  padding: 25px;
  z-index: 11112;

  @include medium {
    // width: calc(100% - 64px);
    // width: 90%;
    width: 80%;
    height: 80%;
    padding: 16px;
    height: fit-content;
    gap: 12px;
  }

  @include tablet {
    width: 80%;
    height: 80%;
    & .secondary-info {
      display: none;
    }
    & .social {
      display: none;
    }
  }

  .close-icon {
    position: absolute;
    top: 22px;
    right: 22px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #00000033;
    border-radius: 8px;
    z-index: 2;
    @include medium() {
      width: 32px;
      height: 32px;
    }

    @include mobile() {
      border-radius: 100px;
    }
  }

  .section-title {
    margin-bottom: 35px;
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: black;

    @include medium() {
      font-size: 14px;
      margin-bottom: 15px;
    }

    @include mobile() {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }

  .main-info {
    display: flex;
    flex-direction: row;
    gap: 24px;
    @include medium() {
      width: 100%;
      height: 100%;
    }

    .mobile-header {
      display: none;
    }

    @include mobile() {
      flex-direction: column;
    }

    .main-info-image {
      width: 654px;
      display: flex;
      height: 410px;
      border-radius: 8px;
      border: 1px solid #f1f1f1;

      @include medium {
        // width: 100%;
        width: 454px;
        height: 100%;
      }

      @include tablet {
        width: 100%;
        height: 100%;
        border: none;
      }

      .image {
        border-radius: 8px;
        width: 654px;
        position: relative;

        img {
          object-fit: contain;
        }

        @include medium() {
          width: 100%;
          height: 302px;
          // flex: 2;
        }
        @include tablet {
          width: 100%;
          height: 100%;
        }
        /*
        @include mobile() {
          border: 1px solid #f1f1f1;
          width: 100%;
          height: 100%;
        }
          */
      }
    }

    .main-info-points {
      padding: 0;
      flex: 1;
      @include tablet {
        display: none;
      }
      .section-title {
        @include mobile() {
          display: none;
        }
      }
      /*
      @include mobile() {
        width: 100%;
        padding: 0;
        margin-bottom: 38px;
      }
*/
      .location {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 20px;
        /*
        @include mobile() {
          display: none;
        }
*/
        h3 {
          font-size: 16px;
          font-weight: 400;
          color: #676767;

          @include medium() {
            font-size: 12px;
          }
        }
      }

      ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 20px;
        /*
        @include mobile() {
          width: 100%;
          margin-bottom: 24px;
        }
*/
        .points-list-item {
          @include medium() {
            padding: 0 0 0 8px;
            height: 57px;
          }
        }

        .points-list-item {
          &:last-child {
            width: calc((100% / 2));
          }

          h4 {
            font-size: 16px;
            font-weight: 500;

            @include medium() {
              font-size: 12px;
            }

            @include mobile() {
              font-size: 16px;
            }
          }

          span {
            font-size: 14px;
            font-weight: 300;
            @include medium() {
              font-size: 12px;
            }
          }
        }
      }

      .price-from {
        margin-bottom: 12px;
        font-size: 24px;
        font-weight: 400;
        color: black;

        @include medium() {
          font-size: 12px;
          margin-bottom: 2px;
        }

        @include mobile() {
          font-size: 14px;
          margin-bottom: 5px;
        }

        .price {
          font-weight: 500;

          @include mobile() {
            font-size: 18px;
          }
        }
      }

      .price-per-meter {
        margin: 0;
        font-size: 16px;
        font-weight: 400;
        color: #676767;

        @include medium() {
          font-size: 12px;
        }

        @include mobile() {
          font-size: 16px;
        }
      }
    }
  }

  .secondary-info {
    display: flex;
    flex-direction: column;
    @include tablet {
      display: none;
    }
    .secondary-info .section-title {
      @include mobile() {
        display: block;
      }
    }

    .secondary-list {
      display: flex;
      flex-direction: row;

      @include mobile() {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        margin-bottom: 36px;
      }
    }

    .list-item {
      width: calc(100% / 7);
      display: flex;
      flex-direction: column;
      gap: 9px;
      // flex: 1;

      @include mobile() {
        width: calc((100% - 8px) / 2);
        padding: 12px;
        gap: 4px;
        background-color: white;
        border: 1px solid #f1f1f1;
        border-radius: 8px;
      }

      h4 {
        margin: 0;
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        color: #676767;

        @include medium() {
          font-size: 12px;
        }

        @include mobile() {
          font-size: 14px;
        }
      }

      h3 {
        margin: 0;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        color: black;

        @include medium() {
          font-size: 12px;
        }

        @include mobile() {
          font-size: 16px;
        }
      }
    }
  }

  .social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include tablet {
      display: none;
    }
    @include mobile() {
      flex-direction: column;
    }

    @include mobile() {
      gap: 15px;
    }

    .social-media {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 24px;
      flex-wrap: wrap;

      @include mobile() {
        gap: 8px;
        flex-wrap: wrap;
      }

      li {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
        flex: 1;
        height: 35px;

        color: #717171;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
        border: 1px solid #f1f1f1;
        border-radius: 8px;

        @include medium() {
          font-size: 12px;
        }

        @include mobile() {
          flex: 1;
          // min-width: calc((100% - 24px) / 4);
          // max-width: calc((100% - 24px) / 4);
          height: 48px;
          font-size: 12px;
          gap: 6px;
        }

        a {
          display: flex;
          align-items: center;
          gap: 16px;
          text-decoration: none;
          color: inherit;
          width: 100%;
          height: 35px;
          padding: 0 24px;
          border: 1px solid #f1f1f1;
          border-radius: 8px;

          @include mobile() {
            flex: 1 1 auto;
            width: 100%;
            height: 48px;
            font-size: 12px;
            gap: 6px;
          }
        }
      }
    }
    .call-button {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: 37px;
      padding: 0 28px;
      color: white;
      font-size: 14px;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      border: 1px solid #d1a077;
      border-radius: 8px;
      background-color: #d1a077;

      @include medium() {
        font-size: 12px;
      }

      @include mobile() {
        width: 100%;
        height: 50px;
      }

      &:hover {
        background-color: white;
        color: #d1a077;
        border: 1px solid #d1a077;
      }
    }
  }
}
