@import '@/styles/variable';
@import '@/styles/mixins';

.checker {
  z-index: 53;
  position: relative;
  width: 100%;
  transition: $transition;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  //border-radius: 8px;
  // border: 1px solid rgba(204, 204, 204, 0.6);
  background: #ffffff1a;
  cursor: pointer;

  .trigger {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;

    padding: 16px 24px 10px 24px;
    color: #000;
    font-size: 14px;
    text-wrap: nowrap;
    border-radius: 8px;
    border: 1px solid rgba(204, 204, 204, 0.6);

    > div {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    span {
      &.activeVisible {
        display: flex;
      }

      display: none;
      color: #717171;
      font-family: 'Roboto', sans-serif;
      font-size: 12px;
      font-weight: 400;
    }

    @media (max-width: 1300px) {
      font-size: 12px;
      padding: 0 8px;
    }
  }

  .checker-list-container {
    position: absolute;
    // top: calc(100% + 2px);
    top: 100%;
    left: -1px;
    width: calc(100% + 1px);
    min-width: 120px;
    border-radius: 6px;
    max-height: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: #fff;
    border-radius: 6px;
    overflow: hidden;
    &.active {
      padding: 2px 1px;
      max-height: 150px;
      opacity: 1;
    }
    > ul {
      background-color: #fff;
      border-radius: 6px;
      overflow-y: scroll;
      max-height: 146px;
      @include filter-scrollbar;
      overscroll-behavior: contain;
    }
    .checker-list-item {
      padding: 8px 12px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
      transition: 0.3s;
      background: #fff;
      transition: $transition;
      color: #000;
      font-size: 14px;
      animation: fadeIn 0.5s ease forwards;
      @media (max-width: 1300px) {
        font-size: 12px;
        padding: 8px;
        gap: 8px;
      }
      &:hover {
        color: $color-brown;
        .checker-icon {
          color: $color-brown;
        }
      }
      &.active {
        color: $color-brown;
      }
      .checker-icon {
        color: #dcdcdc;
      }
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.subArea-list {
  padding-left: 20px;
  .checker-list-item {
    padding-left: 20px;
    &:hover {
      color: $color-brown;
      .checker-icon {
        color: $color-brown;
      }
    }
  }
}
