@import './../../../../styles/mixins';

.area__about {
  .title {
    font-size: 28px;
    padding-bottom: 20px;
  }

  .area__preview {
    display: flex;
    gap: 25px;

    @include md {
      flex-direction: column;
    }

    .image {
      border-radius: 12px;
      overflow: hidden;
      flex: 1;
      height: 358px;

      @include md {
        min-height: 250px;
      }

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        content: '';
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 27.79%),
          linear-gradient(340deg, rgba(0, 0, 0, 0.2) 30.93%, rgba(0, 0, 0, 0) 60.57%);
      }
    }
  }

  .area__about-text {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;

    .text {
      font-weight: 400;
      font-size: 16px;
      color: #717171;
    }
  }

  //   .title {
  //     @media (max-width: 633px) {
  //       margin-top: 100px;
  //     }
  //   }
}
