@import '@/styles/variable';
@import '@/styles/mixins';

.price-checker-mob {
  z-index: 53;
  width: 100%;
  height: auto;
  border-radius: 8px;
  background: #fff;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  &.active {
    border-radius: 8px 8px 0 0;
  }

  .trigger {
    width: 100%;
    height: 50px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #ccc;
    &.active {
      border-radius: 8px 8px 0 0;
    }
    & .text {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
    .trigger-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      &.active {
        transform: rotate(-180deg);
      }
    }
  }
  .selectedList {
    width: 100%;
    padding: 12px 16px;
    text-align: left;
    color: #666;
    font-size: 14px;
    border-radius: 0 0 8px 8px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background: #fff;
    -webkit-backdrop-filter: blur(11.3999996185px);
    backdrop-filter: blur(11.3999996185px);
    span {
      display: block;
    }
  }
  .price-checker-list-container {
    width: 100%;
    height: auto;
    border-radius: 0 0 8px 8px;
    background-color: #fff;
    border-left: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;

    .prices-list {
      width: 100%;
      height: 42px;
      padding: 11px 12px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      background-color: $color-background-menu;
      border-bottom: 1px solid #dfdfdf;
      .price-block {
        display: flex;
        gap: 8px;
        input {
          width: 94px;
          max-width: none;
          outline: none;
          border: none;
          color: #222;
          font-size: 14px;
          font-weight: 400;
        }
      }
    }

    .price-checker-ul {
      overflow-y: scroll;
      max-height: 160px;
      border-radius: 0 0 8px 8px;
      //@include filter-scrollbar;
      overscroll-behavior: contain;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    .price-checker-list-item {
      display: flex;
      height: 42px;
      padding: 11px 12px;
      justify-content: space-between;
      align-items: center;
      transition: 0.3s;
      // border-right: 1px solid #dfdfdf;
      border-bottom: 1px solid #dfdfdf;
      background: #fff;
      transition: $transition;
      color: #222;
      &:nth-last-child(1) {
        border-bottom: none;
      }
      &.lower {
        color: #dcdcdc;
      }
      &.active {
        color: $color-brown;
      }
      .check-item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 12px;
        height: 12px;
        border: 1px solid #dfdfdf;
        border-radius: 3px;
        transition: $transition;
      }
    }
  }
}
