@import '@/styles/variable';
@import '@/styles/mixins';

.selected-swiper-card {
  display: block;
  height: 360px;
  width: 340px;
  border-radius: 8px 8px 0 0;
  // overflow: hidden;
  @media screen and (max-width: 1100px) {
    width: 320px;
  }

  .image-block {
    position: relative;
    width: 100%;
    height: 285px;
    .bg {
      z-index: 5;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0) 50.22%),
        linear-gradient(2deg, rgba(0, 0, 0, 0.8) 4.15%, rgba(0, 0, 0, 0) 31.97%);
      .descriptions {
        padding: 8px;
        color: $color-white;
        z-index: 5;
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        gap: 12px;
        flex-wrap: wrap;
        > span {
          font-weight: 300;
          font-size: 14px;
          display: flex;
          align-items: center;
          gap: 4px;
        }
      }
    }
    img {
      object-fit: cover;
    }
  }
  .text-block {
    height: 72px;
    padding: 12px;
    .name {
      display: block;
      font-weight: 500;
      margin-bottom: 8px;
    }
    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .area {
      font-weight: 400;
      font-size: 14px;
      opacity: 0.7;
    }
    .price {
      font-weight: 700;
      font-size: 18px;
      text-align: right;
      color: #191c38;
    }
  }
}
.favoriteButton {
  padding: 6px;
  z-index: 20;
  position: absolute;
  top: 6px;
  right: 6px;
  background-color: transparent;
  color: #F1F1F1;
  &.selected{
    color: $color-brown;
  }
}

.wrapper__image-block{
  // height: 370px;
  background: yellow;
}