@import '@/styles/variable';
@import '@/styles/mixins';

.related {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 64px;
  padding-bottom: 64px;

  // @include laptop() {
  //   display: none;
  // }
  .related-objects-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .related-objects-block {
    border-radius: 8px;
    border: 1px solid #f1f1f1;
    overflow: hidden;
    .related-objects {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 16px 24px;
      border-bottom: 1px solid #f1f1f1;
      // @include laptop() {
      //   display: none;
      // }

      p {
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
      }

      span {
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
      }
    }
    .related-features {
      padding: 12px 16px;
    }
    .projects-list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .project-item {
        padding: 16px;
        border-top: 1px solid #f1f1f1;
        cursor: pointer;
        height: 104px;
        transition: $transition;
        &:hover {
          background-color: #f3f7fe;
        }
        .projects-list-item {
          height: 100%;
        }
      }
    }
    .arrow-flex-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .related-features,
  .projects-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      width: calc((100% - 144px) / 7);
      &:nth-child(1) {
        width: 155px;
      }
    }
    .arrow-flex-item {
      width: 30px;
    }
    .image {
      width: 125px;
      height: 72px;
      border: 1px solid #f1f1f1;
      border-radius: 8px;
      background-color: $color-white;
      overflow: hidden;
      position: relative;
      img {
        object-fit: contain;
        position: static;
      }
    }

    span {
      font-size: 14px;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
    }
  }
}

.related {
  @include laptop() {
    display: none;
  }
  .features {
    border-radius: 8px;
    padding: 0;
  }
}

.projects-title {
  display: none;

  @include mobile() {
    display: block;
    margin-bottom: 12px;
    margin-top: 32px;
    color: black;
    font-size: 18px;
    font-weight: 600;
  }
}

.related-objects-tablet {
  display: none;

  @include laptop() {
    display: flex;
    flex-direction: column;

    padding-top: 36px;
    padding-bottom: 24px;
  }

  @include mobile() {
    padding: 8px 8px 12px;
    border: 1px solid #f1f1f1;
    border-radius: 8px;
  }
  .related-objects-tablet-list-item {
    margin-bottom: 30px;
  }
  .related-highlight {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;

    p span {
      font-weight: 600;
    }

    span {
      font-weight: 600;
    }

    @include mobile() {
      flex-direction: column;

      p {
        font-size: 14px;
        font-weight: 400;
        color: #222222;
      }

      span {
        font-size: 14px;
        font-weight: 600;
        color: #222222;
      }
    }
  }

  .projects-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .project-item {
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 100%;
    height: 306px;

    @include mobile() {
      flex-direction: column;
      gap: 8px;
      height: 483px;
    }
    //фото на планшеті
    .project-item-displayed {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70%;
      height: 300px;
      border: 1px solid #f1f1f1;
      border-radius: 8px;
      position: relative;
      cursor: pointer;
      img {
        position: static;
        object-fit: contain;
      }
      @include mobile() {
        width: 100%;
      }

      .image {
        width: 100%;
        height: 100%;
        border-radius: 8px;
      }

      @include mobile() {
        height: 223px;
      }
    }

    .project-item-options {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 30%;

      @include mobile() {
        width: 100%;
      }

      .options-list {
        border: 1px solid #f1f1f1;
        border-radius: 8px;

        li h3 {
          font-family: 'Roboto', sans-serif;
        }
      }

      li {
        padding: 8px 12px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid #f1f1f1;

        h3 {
          font-size: 14px;
          font-family: 'Onest';
          font-weight: 500;
          color: black;
        }

        span {
          font-size: 14px;
          font-family: 'Roboto' sans-serif;
          font-weight: 400;
          color: #6e6e6e;
        }
      }

      li:last-child {
        border-bottom: none;
      }
    }

    .view-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 8px 8px 8px 12px;
      background-color: #dba77b;
      border-radius: 8px;
      color: white;
      cursor: pointer;

      @include mobile() {
        margin-top: 12px;
      }
    }
  }
}
