.popupFloorPlan {
  &__content {
    background: white;
    height: auto;
    width: 400px;
    border-radius: 6px;

    margin: {
      top: 150px;
      left: 6px;
      right: 6px;
    }

    padding: 20px;

    &-title {
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      color: #717171;
    }

    &-btn {
      width: 100%;
      padding: 7.5px 15px;
      border: 1px solid #7171718c;
      margin-top: 30px;
      border-radius: 8px;
      transition: 0.2;

      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      color: #717171;

      &:hover{
        opacity: 0.7;
      }
    }
  }
}
