@import '@/styles/variable';
@import '@/styles/mixins';
.main-map-container {
  width: 100%;
  height: 100%;
  border-radius: 0 12px 12px 0;
  .mapboxgl-ctrl-logo {
    display: none;
  }
  .mapboxgl-ctrl-attrib-inner {
    display: none;
  }
  .mapboxgl-compact {
    display: none;
  }
  .mapboxgl-popup {
    max-width: 300px !important;
    width: 300px;
    height: 80px;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    .mapboxgl-popup-tip {
      display: none;
    }
    .mapboxgl-popup-content {
      width: 300px;
      height: 80px;
      overflow: hidden;
      padding: 0;
      display: flex;
      border-radius: 8px;
      background-color: $color-white;
      .link {
        width: 300px;
        height: 80px;
        display: flex;
      }
      .image {
        width: 100px;
        height: 80px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;

          object-fit: cover;
        }
      }
      .info {
        width: 200px !important;
        min-width: 200px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 12px;
        span {
          display: block;
          color: $color-gray2;
          width: 100%;
          height: 42px;
          max-height: 50px;
          overflow: hidden;
        }
        p {
          font-weight: 600;
        }
      }
      .mapboxgl-popup-close-button {
        display: none;
      }
    }
  }
}
