.popup {
  z-index: 10000;
  position: fixed;

  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  opacity: 0;
  visibility: hidden;

  transition: opacity 0.2s;

  &__bgBlur {
    position: absolute;
    background: rgba(0, 0, 0, 0.35);
    width: 100%;
    height: 100%;
  }

  &__content {
    position: relative;
    transform: translate(0, -70%);

    transition: all 0.5s;

    padding: {
      top: 100px;
    }

    display: flex;
    justify-content: center;
  }
  &--active {
    opacity: 1;
    visibility: visible;
    .popup__content {
      transform: translate(0, 0);
      opacity: 1;
      visibility: visible;
    }
  }
}
