@import './../../../styles/mixins';
@import '@/styles/variable';
@import '@/styles/mixins';
.projects__offer-card,
.projects__offer-card--mobile {
  color: white;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;

  .favorite-btn {
    z-index: 5;
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: end;
    background-color: transparent;
    transition: $transition;
    &.selected {
      color: #dba77b;
    }
  }

  .card-image {
    transition: all 300ms ease-in;
    object-fit: cover;

    width: 100%;
    height: 100%;
    // overflow: hidden;
  }

  &:hover .card-image {
    transform: scale(1.02);
  }

  .info-extra {
    z-index: 3;
    padding: 0 15px;
    font-weight: 300;
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
    position: absolute;

    bottom: 15px;
    left: 0;

    //p {
    // &:hover img {
    // transform: translateY(-2px);
    //}
    // }

    sup {
      font-size: 10px;
    }

    img {
      vertical-align: sub;
      margin-right: 5px;
      transition: all 100ms ease-in;
    }
  }
}

.card-swiper {
  z-index: 1;
  position: relative;
}

.swiper-button-next::after {
  content: none !important;
}

.swiper-button-prev::after {
  content: none !important;
}

.projects__offer-card {
  position: relative;

  .favorite-btn {
    z-index: 5;
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: end;
    background-color: transparent;

    &.selected {
      color: #dba77b;
    }
  }

  @include lg {
    display: none;
  }

  &::before {
    z-index: 2;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4) 20%,
      rgba(1, 0, 0, 0) 45%,
      rgba(0, 0, 0, 0.2) 90%
    );
  }

  .card-details {
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;

    .info {
      padding: 0 15px;
      font-weight: 500;
      font-size: 16px;
      display: flex;
      justify-content: space-between;
      position: absolute;

      bottom: 35px;
      left: 0;
      width: 100%;
    }
  }
}

.projects__offer-card--mobile {
  // display: none;

  @include lg {
    display: block;
  }

  .image-wrapper {
    position: relative;
    overflow: hidden;
    height: 240px;

    @include md {
      height: 340px;
    }

    &::before {
      z-index: 3;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.4) 20%,
        rgba(1, 0, 0, 0) 45%,
        rgba(0, 0, 0, 0.2) 90%
      );
    }
  }

  .info {
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    justify-content: space-between;

    &__price {
      color: #191c38;
      font-weight: 700;
      font-size: 16px;
    }

    &__title {
      width: 100%;
      color: #222222;
      font-weight: 600;
      font-size: 14px;
    }

    &__location {
      max-width: 150px;
      text-overflow: ellipsis;
      text-wrap: nowrap;
      overflow: hidden;
      color: #222222;
      font-weight: 300;
      font-size: 14px;
    }
  }
}
