@import './../../../styles/mixins';

.projects__offers-message {
  margin-bottom: 16px;
  color: #111;
  margin-top: 4px;
}
.projects__offers-message-all-projects {
  color: #111;
  margin-top: 20px;
}
.projects__offers-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 588px));
  // grid-template-rows: repeat(auto-fill, 450px);
  gap: 16px;
  @include tablet {
    //  grid-template-rows: repeat(auto-fill, 380px);
  }
  /*
  @include rwd_max(1240px) {
    grid-template-rows: auto;
    gap: 10px;
  }
*/
  @include rwd_max(1024px) {
    grid-template-columns: repeat(2, minmax(auto, 1fr));
    grid-template-rows: auto;
  }

  @include md {
    grid-template-columns: 1fr;
  }
}

.projects__btn-group {
  display: flex;
  gap: 25px;
  justify-content: center;
  height: 40px;
  margin: 32px auto;
  @include mobile {
    height: auto;
    gap: 8px;
    margin-top: 0px;
    padding: 25px 0;
  }
  .map__btn {
    display: flex;
    gap: 16px;
    justify-content: center;
    height: 45px;
    width: 107px;
    align-items: center;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background: #dba77b;
    box-shadow: 0 0 40px #0000001a;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: 0.4s ease-in-out;
    position: relative;
    overflow: hidden;

    &:hover {
      transform: scale(1.1);
    }

    &:hover .circle-mask {
      display: block;
    }
    @include mobile {
      // width: 100%;
      &:hover {
        transform: scale(1.01);
      }
    }
    .circle-mask {
      display: none;
      position: absolute;
      left: 15px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }

    .circle-mask::before,
    .circle-mask::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      box-shadow: 0 0 0 0 rgb(255, 255, 255);
      transform: translate(-50%, -50%);
      animation: pulse 1s infinite;
    }

    .circle-mask::before {
      animation-delay: 0.1s;
    }

    .circle-mask::after {
      animation-delay: 1s;
    }

    @keyframes pulse {
      0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2);
      }

      100% {
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
      }
    }
  }

  .show__btn {
    display: flex;
    height: 45px;
    width: 178px;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: 1px solid rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 0 40px #0000001a;
    -webkit-backdrop-filter: blur(1.7999999523px);
    backdrop-filter: blur(1.7999999523px);
    border-radius: 8px;
    background: #fff;

    &:hover {
      // box-shadow: none;
      color: #dba77b;
    }
    @include mobile {
      width: 100%;
      // &:hover {
      //  box-shadow: 0 0 40px #0000001a;
      // }
    }
  }
}

.offers-list-wrapperText {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 12px;

  > span {
    color: #717171;
    font-size: 14px;
    font-weight: 500;
  }
}

.offers-list__another {
  font-size: 16px;
  font-weight: 500;
  color: #222222;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 10px;

  > a {
    transition: 0.2s;

    &:hover {
      color: #717171;
    }
  }
}

.projects__offers-noSearch {
  font-size: 14px;
  font-weight: 400;
  color: #222222;
  font-family: 'Roboto', sans-serif;
}
