@import '@/styles/variable';
@import '@/styles/mixins';

.hero-dropdownList__trigger {
  z-index: 20;
  width: 100%;
  height: 62px;
  padding: 0 13px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.19);
  backdrop-filter: blur(22px);
  background: rgba(255, 255, 255, 0.08);
  display: flex;
  align-items: center;
  justify-content: space-between;
  > .text {
    display: block;
    width: calc(100% - 40px);
    height: 20px;
    text-align: left;
    text-wrap: nowrap;
    overflow: hidden;
  }
  > .icon {
    transition: $transition;
    &.active {
      transform: rotate(180deg);
    }
  }
}
.hero-dropdownList__menu {
  z-index: 30;
  width: 100%;
  height: 0;
  position: absolute;
  //top: 70px;
  bottom: 220px;
  border-radius: 12px;
  overflow: hidden;
  transition: $transition;
  -webkit-transition: $transition;
  background: inherit !important;
  background-color: rgba(255, 255, 255, 0.08) !important;
  -webkit-backdrop-filter: blur(22px) !important;
  backdrop-filter: blur(22px) !important;
  @include tablet {
    // top: auto;
    bottom: 220px;
    height: 1px;
    opacity: 0;
  }

  @include mobile {
    width: calc(100% - 32px);
  }
  &.active {
    z-index: 30;
    height: 185px;
    transition: $transition;
    -webkit-transition: $transition;
    opacity: 1;
    @include tablet {
      height: 210px;
    }
  }
  ul {
    z-index: 40;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0.19);
    border-radius: 12px;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    .hero-dropdownList__list__item {
      z-index: 50;
      padding: 12px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.19);
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      &:nth-last-child(1) {
        border-bottom: none;
      }
      > .icon {
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid white;
        transition: $transition;
        &.selected {
          background-color: $color-white;
        }
      }
    }
  }
}

.dropdownList__subareas_item {
  padding-left: 20px;
}

.hero-dropdownList__subareas{
    border-radius: 0px !important;
    border-top: none !important;
}