@import '@/styles/variable';
@import '@/styles/mixins';
.zoom-form {
  height: 610px;
  margin-top: 50px;
  border-radius: 12px;
  overflow: hidden;
  background: linear-gradient(49deg, rgba(0, 0, 0, 0) 49.47%, rgba(0, 0, 0, 0.45) 95.04%),
    linear-gradient(288deg, rgba(0, 0, 0, 0) 68.98%, rgba(0, 0, 0, 0.55) 99.32%),
    url('/main/section7form/zoom-bg.jpg') lightgray 0px -176.9px / 100% 145% no-repeat;
  background-size: cover;
  background-position: center;

  @include tablet {
    height: 408px;
    margin-top: 25px;
  }
  @include mobile {
    height: 342px;
    background-image: unset;
    background: transparent;
    margin-top: 50px;
    box-shadow: 0 5px 35px #0000000d;
  }
  .content {
    z-index: 5;
    position: relative;
    padding: 0 64px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include laptop {
      padding: 0 25px;
    }
    @include tablet {
      padding: 0 25px;
    }
    @include mobile {
      padding: 0;
    }
    &:before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      backdrop-filter: blur(4px);
    }
    .broker-img {
      position: relative;
      width: 550px;
      height: 636px;
      @include tablet {
        width: 350px;
        height: 460px;
      }
      @include mobile {
        display: none;
      }
      img {
        width: 100%;
        object-fit: contain;
      }
    }
    .form {
      padding: 20px;
      border-radius: 16px;
      border: 1px solid rgba(241, 241, 241, 0.17);
      background: rgba(255, 255, 255, 0.17);
      backdrop-filter: blur(11px);
      width: 618px;
      max-width: calc(50% - 25px);
      min-width: 360px;
      @include mobile {
        width: 100%;
        max-width: 100%;
        height: 342px;
        border: 1px solid #f4f4f4;
        background: $color-white;
        box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.05);
      }
      .title {
        display: flex;
        flex-direction: column;
        color: #fff;
        font-weight: 400;
        margin-bottom: 24px;
        @include mobile {
          flex-direction: row;
          gap: 48px;
          svg {
            path {
              fill: $color-brown;
            }
          }
          color: $color-brown;
          font-size: 12px;
        }
        img {
          display: none;
          @include mobile {
            display: block;
            width: 96px;
            height: 96px;
          }
        }
      }

      .input-form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        .input-field {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 58px;
          border-radius: 6px;
          border: 1px solid rgba(241, 241, 241, 0.45);
          background: rgba(0, 0, 0, 0.17);
          padding: 0px 17px;
          @include mobile {
            height: 50px;
            background: $color-white;
            svg {
              path {
                fill: $color-gray;
              }
            }
          }
          input {
            width: calc(100% - 30px);
            font-size: 14px;
            font-weight: 400;
            border: 0;
            outline: 0;
            background: transparent;
            color: $color-white;
            padding: 10px 0;
            &::placeholder {
              color: $color-gray;
            }
            &::placeholder {
              color: $color-white;
            }
            @include mobile {
              color: $color-gray;
              &::placeholder {
                color: $color-gray;
              }
            }
          }
        }

        .select-button {
          height: 58px;
          display: flex;
          padding: 0px 16px;
          justify-content: space-between;
          align-items: center;
          color: $color-white;
          cursor: pointer;
          font-size: 14px;
          font-weight: 500;
          border-radius: 6px;
          background: rgba(219, 167, 123, 0.85);
          backdrop-filter: blur(11px);
          @include mobile {
            height: 50px;
          }
          &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
          }
        }
      }
    }
  }
}
