@import '@/styles/variable';
@import '@/styles/mixins';

.img-backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  opacity: 1;
  z-index: 3010;
}

.img-modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 20px 160px;
  background: white;
  z-index: 2000;
  overflow-y: auto;
}

.back-icon {
  position: sticky;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  z-index: 2;
  cursor: pointer;
}

.modal-images-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
  margin-left: auto;
  margin-left: auto;
  overflow-y: auto;
  padding-right: 20px;
  z-index: 2000;
}

.modal-images-item {
  width: calc((100% - 20px) / 2);
  max-height: 460px;
  position: relative;
  overflow: hidden;

  @include tablet {
    width: 100%;
  }
  .image-card {
    border-radius: 8px;
    width: 100%;
    object-fit: cover;

    height: 350px; 
  }
}
