@import '@/styles/variable';
@import '@/styles/mixins';
.map-container-not-found-message {
  width: fit-content;
  max-width: 30%;
  position: absolute;
  bottom: 10px;
  right: 20px;
  z-index: 2100;
  padding: 8px 16px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: #ff5959;
  font-size: 14px;
  border-radius: 11px;
  border: 1px solid #ff5959;
  background: #ff595933;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  transition: 0.3s;
  @include mobile {
    top: 15px;
    left: 15px;
    font-size: 11px;
    max-width: 60%;
  }
}
.map-fool-screen-container {
  position: relative;
  background-color: $color-white;
  overflow: hidden;
  & .filter-block-map-container {
    & .container {
      padding: 0 24px;
    }
  }
  &.full-screen,
  &.full-screen-mobile {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11001;
    overflow: hidden;
    .filter-block-map {
      position: relative;
      z-index: 11003;
    }
    .map-container {
      height: calc(100vh - 64px);
      overflow: hidden;
      @include mobile {
        height: 100vh;
      }
    }
  }
  &.full-screen {
    z-index: 11002;
  }
  & .full-screen-mobile {
    z-index: 11002;
  }
}
.map-container {
  position: relative;
  width: 100%;
  height: 600px;
  .main-map-container {
    border-radius: 0;
  }
}
.projects-map__top-projects {
  .top-projects {
    position: relative;
  }
}

.projects-map__areas {
  margin-top: 50px;
  .map-areas-title {
    font-size: 36px;
    font-weight: 500;
  }
  & .sights {
    padding: 22px 0 35px;
    @include mobile {
      display: none;
    }
  }
}
