@import '@/styles/variable';
@import '@/styles/mixins';

.saved-projects-page {
  height: 100vh;
  min-height: 500px;
  overflow: hidden;
  @include custom-scrollbar(#ccc);
  @include mobile {
    height: auto;
  }
}
//стилізація header приховування непотрібних на сторінці елементів
.saved-projects-header {
  header {
    padding: 25px 0;
  }
  .scroll-header__desktop {
    display: none;
  }
  & .header-links {
    .list {
      display: none;
    }
  }
  & .header-btns {
    .header-btns__btn {
      display: block;
    }
    & .header-btns__burger-notHome {
      display: none;
    }
    & .header-btns__Nothome-wrapper {
      .phone {
        display: none;
      }
      .dropdown-Nothome {
        display: none;
        @include mobile {
          display: block;
        }
      }
      .header-btns__saved {
        display: none;
      }
    }
  }
}

.saved-projects-container {
  .saved-projects-container-head {
    @include mobile {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 16px;
    }
  }
  .saved-projects-back-link {
    margin: 30px 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include mobile {
      display: none;
    }
  }
  .saved-projects-title {
    font-size: 24px;
    font-weight: 500;
    @include mobile {
      font-size: 16px;
    }
  }
  .saved-projects-description {
    color: #717171;
    font-size: 14px;
    margin-top: 8px;
    @include mobile {
      display: none;
    }
  }
  .saved-projects-clear-all {
    display: none;
    @include mobile {
      display: flex;
      height: 30px;
      justify-content: center;
      align-items: center;
      padding: 0 12px;
      gap: 12px;
      color: #ff5959;
      font-size: 14px;
      font-weight: 500;
      border-radius: 11px;
      border: 1px solid #ff5959;
      background: #ff595933;
    }
  }

  .saved-projects-container-block {
    margin-top: 30px;
    display: flex;
    height: calc(100vh - 280px);
    @include tablet {
      //  height: auto;
      // min-height: 0px;
      // margin-top: 20px;
      // flex-direction:column;
      // margin-bottom: 100px;
    }
    // height: calc(100vh - 214px);
    //  min-height: 650px;
    @include mobile {
      height: auto;
      min-height: 0px;
      margin-top: 20px;
      flex-direction: column;
      margin-bottom: 100px;
    }
    .saved-list {
      padding-right: 10px;
      overflow-y: auto;
      width: 60%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
      & .name{
        max-height: 20px;
        max-width: 100%;
        overflow: hidden;
      }
      & .area{
        max-width: 50%;
        max-height: 30px;
        overflow: hidden;
      }
      @include custom-scrollbar(#ccc);
      &.active{
        grid-template-rows: 360px;
        @include laptop {
          grid-template-rows: 370px;
        }
        @include tablet {
          grid-template-rows: 360px;
        }
      }
      @include tablet {
        width: 50%;
        grid-template-columns: 1fr;
       // grid-template-rows: 360px;
      }
      @include mobile {
        padding-right: 0px;
        width: 100%;
      }
      .selected-card {
        position: relative;
        width: 100%;
        height: 100%;
        & .selected-swiper-card {
          width: 100%;
          height: 100%;
          @include laptop {
            & .text-block {
              height: 90px;
            }
          }
          .favoriteButton {
            display: none;
          }
        }
        .remove-button {
          padding: 6px;
          z-index: 20;
          position: absolute;
          top: 6px;
          right: 6px;
          background-color: transparent;
          color: $color-brown;
        }
      }
    }
    & .form {
      padding: 0 48px;
      width: 40%;
      height: 100%;
      //height: 500px;
      //height: 550px;
      overflow-y: auto;
      @include custom-scrollbar(#ccc);
      @media screen and (max-width: 1280px) {
        padding: 0 32px;
      }
      @include tablet {
        width: 50%;
      }
      @include mobile {
        width: 100%;
        // padding: 0;
        border: 1px solid #f1f1f1;
        border-radius: 8px;
        padding: 12px;
        // display: none;
      }
      & .title {
        font-size: 24px;
        font-weight: 500;
        @include tablet {
          font-size: 20px;
        }
      }
    }
  }
  .saved-projects-no-selected {
    margin-bottom: 20px;
  }
}

/*
@import '@/styles/variable';
@import '@/styles/mixins';

.saved-projects-page {
  height: 100vh;
  min-height: 500px;
  overflow: hidden;
  @include custom-scrollbar(#ccc);
  @include mobile {
    height: auto;
  }
}
//стилізація header приховування непотрібних на сторінці елементів
.saved-projects-header {
  header {
    padding: 25px 0;
  }
  .scroll-header__desktop {
    display: none;
  }
  & .header-links {
    .list {
      display: none;
    }
  }
  & .header-btns {
    .header-btns__btn {
      display: block;
    }
    & .header-btns__burger-notHome {
      display: none;
    }
    & .header-btns__Nothome-wrapper {
      .phone {
        display: none;
      }
      .dropdown-Nothome {
        display: none;
        @include mobile {
          display: block;
        }
      }
      .header-btns__saved {
        display: none;
      }
    }
  }
}

.saved-projects-container {
  .saved-projects-container-head {
    @include mobile {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 16px;
    }
  }
  .saved-projects-back-link {
    margin: 30px 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include mobile {
      display: none;
    }
  }
  .saved-projects-title {
    font-size: 24px;
    font-weight: 500;
    @include mobile {
      font-size: 16px;
    }
  }
  .saved-projects-description {
    color: #717171;
    font-size: 14px;
    margin-top: 8px;
    @include mobile {
      display: none;
    }
  }
  .saved-projects-clear-all {
    display: none;
    @include mobile {
      display: flex;
      height: 30px;
      justify-content: center;
      align-items: center;
      padding: 0 12px;
      gap: 12px;
      color: #ff5959;
      font-size: 14px;
      font-weight: 500;
      border-radius: 11px;
      border: 1px solid #ff5959;
      background: #ff595933;
    }
  }

  .saved-projects-container-block {
    margin-top: 30px;
    display: flex;
    height: calc(100vh - 280px);
    @include tablet {
    //  height: auto;
     // min-height: 0px;
     // margin-top: 20px;
     // flex-direction:column;
     // margin-bottom: 100px;
    }
   // height: calc(100vh - 214px);
  //  min-height: 650px;
    @include mobile {
      height: auto;
      min-height: 0px;
      margin-top: 20px;
      flex-direction:column;
      margin-bottom: 100px;
    }
    .saved-list {
      padding-right: 10px;
      overflow-y: auto;
      width: 60%;
      height: 100%;
      //display: grid;
     // grid-template-columns: repeat(2, 1fr);
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
      @include custom-scrollbar(#ccc);
      @include tablet {
        width: 50%;
      }
      @include mobile {
        padding-right: 0px;
        width: 100%;
      }
      .selected-card {
        position: relative;
        width: calc(50% - 8px);
        height: 360px;
        @include tablet {
          width: 100%;
        }
        & .selected-swiper-card {
          width: 100%;
          .favoriteButton {
            display: none;
          }
        }
        .remove-button {
          padding: 6px;
          z-index: 20;
          position: absolute;
          top: 6px;
          right: 6px;
          background-color: transparent;
          color: $color-brown;
        }
      }
    }
    & .form {
      padding: 0 48px;
      width: 40%;
      height: 100%;
      //height: 500px;
      //height: 550px;
      overflow-y: auto;
      @include custom-scrollbar(#ccc);
      @media screen and (max-width: 1280px) {
        padding: 0 32px;
      }
      @include tablet {
        width: 50%;
      }
      @include mobile {
        width: 100%;
       // padding: 0;
        border: 1px solid #f1f1f1;
        border-radius: 8px;
        padding: 12px;
        // display: none;
      }
      & .title {
        font-size: 24px;
        font-weight: 500;
        @include tablet {
          font-size: 20px;
        }
      }
    }
  }
  .saved-projects-no-selected{
    margin-bottom: 20px;
  }
}

*/
